.form-left-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    -webkit-border-radius: 8px;
    -webkit-border-bottom-right-radius: 60px;
    -moz-border-radius: 8px;
    -moz-border-radius-bottomright: 60px;
    border-radius: 8px;
    border-bottom-right-radius: 60px;
    box-shadow: 4px 3px 10px rgb(121 143 218 / 21%);
}

.form-left-box h3 {
    margin-bottom: 30px;
}

.form-left-box img,
.form-icon {
    max-width: 160px;
}

.register-form {
    margin-top: 20px;
}

.register-form .user-type {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
}